@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');
 

:root{
    --primary-color:#2563EB;
    --dark-color:#374151;
    --off-white-color:#D1D5DB;
}

body{
    font-family: 'Padauk', sans-serif;
    margin:0px;
    font-size: large;
}

/* container */

.container{
    padding-left:1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 70% ;
    margin:auto;
}


/* links */
.link{
    text-decoration: none;
    padding:0.5rem 1rem;
}
.link-primary{
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}
.link-secondary{
    border:1px solid var(--primary-color);
    color:var(--primary-color);
    border-radius:0.5rem;
}

/* lists */
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding:0rem 0.5rem;
}

/* navbar */
.navigation{
    background-color: var(--primary-color);
    padding:1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.navigation .link{
    color:white;
}

.navigation .nav-pills{
    text-align: center;
}
.navigation .nav-brand{
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.navigation .link-active{
    font-weight:bold;
}


/* hero */

.hero{
    padding:2rem;
}
.hero .hero-img{
    display:block;
    max-width: 350px;
    margin:auto;
}
.hero .hero-heading{
    text-align:center;
    padding-top: 1rem;
    color:var(--dark-color);
}
.hero .hero-heading .hero-inverted{
    color:var(--primary-color)
}

/* sections */

.section{
    padding:2rem;
    text-align:center;
    max-width: 70%;
    margin:auto;
}

/* Footer */

.footer{
    background-color: var(--off-white-color);
    padding:2rem 1rem;
    text-align: center;
    color:white;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.footer .footer-header{
    font-weight:bold;
    font-size:large;
    color:var(--primary-color)
}
.footer .link{
    color: white;
}